:root{
    --selected: rgb(217, 0, 255);
    --button : rgb(46, 46, 94);
}
header {
    display: flex;
    position: relative;
}

.high-scores{
    padding: 20px;
    flex: 1;
    color: var(--selected);
}
.timer{
    padding: 20px;
    flex: 0;
}
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 50vh;
    transform: translate(0, -30%);
    padding-left: 20px;
    padding-right: 20px;
}
#start-button {
    padding: 5px;
    margin-top: 15px;
    color: white;
    background-color: var(--button);
    border-radius: 5px;
}
h1 {
    font-size: 30px;
    margin-bottom: 15px;
}


.questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding-top: 50vh;
    transform: translate(0, -30%);
    padding-left: 20px;
    padding-right: 20px;
    max-width: 600px;
    margin: 0 auto;
    
}
h2 {
    font-size: 20px;
    margin-bottom: 15px;
}
.answers{
    text-align: left;
    align-items: flex-start;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 400px;
    color: white;
    background-color: var(--button);
    border-radius: 5px;
    margin-right: auto;
    margin-bottom: 10px;
    
}
#deco-line {
    position: absolute;
    background-color: lightgray;
    height: 2px;
    bottom: -10px;
    right: 20px;
    left: 20px;
}