:root{
    --selected: rgb(217, 0, 255);
    --button : rgb(46, 46, 94);
}
header {
    display: flex;
    position: relative;
}

.high-scores{
    padding: 20px;
    flex: 1;
    color: var(--selected);
    z-index: 1;
}
.timer{
    padding: 20px;
}
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 50vh;
    transform: translate(0, -30%);
    padding-left: 20px;
    padding-right: 20px;
}
#start-button {
    padding: 5px;
    margin-top: 15px;
    color: white;
    background-color: var(--button);
    border-radius: 5px;
}
h1 {
    font-size: 30px;
    margin-bottom: 15px;
}


.questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding-top: 50vh;
    transform: translate(0, -30%);
    padding-left: 20px;
    padding-right: 20px;
    max-width: 600px;
    margin: 0 auto;
    
}
h2 {
    font-size: 20px;
    margin-bottom: 15px;
}
h3{
    font-size: 30px
}
.answers{
    text-align: left;
    align-items: flex-start;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 400px;
    color: white;
    background-color: var(--button);
    border-radius: 5px;
    margin-right: auto;
    margin-bottom: 10px;
    transition: background-color 0.4 ease, color 0.3s ease;

}
.answers:hover{
    background-color: var(--selected);
}
#deco-line {
    position: absolute;
    background-color: lightgray;
    height: 2px;
    bottom: -10px;
    right: 20px;
    left: 20px;
}
/*-----scoreSubmit page-----*/
h4{
    font-size: 30px;
    padding-bottom: 20px;
}
#scoreDisplay, label{
    font-size: 20px;
}
#userInput {
    width: 150px;
    height: 30px;
    margin-top: 5px;
    border-radius: 0;
    background-color: rgb(220, 216, 244);
    border-style: groove;
}
.submitButton{
    font-size: 15px;
    padding: 3px;
    vertical-align: bottom;
    background-color: var(--button);
    color: white;
    transition: background-color 0.4 ease, color 0.3s ease;
}
.submitButton:hover{
    background-color: var(--selected);
}

/*-----highScore page-----*/
.HighScores{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50vh;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 50vw;
    margin: 0 auto;
}

#highScoresList li {
    font-size: 20px;
    background-color: rgb(246, 192, 248);
    padding: 5px;
    margin: 5px;
    width: 50vw;
    
}
.higscoreButtons {
    text-align: center;
    font-size: 15px;
}
#backButton{
    padding:5px;
    background-color: var(--button);
    color: white;
    transition: background-color 0.4 ease, color 0.3s ease;     
}
#backButton:hover {
    background-color: var(--selected);
}
#clearButton{
    margin: 5px;
    padding:5px;
    background-color: var(--button);
    color: white;
    transition: background-color 0.4 ease, color 0.3s ease;     
}
#clearButton:hover {
    background-color: var(--selected);
}
